<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Controller</title>
	</head>
	<body>
		<!-- <script src="/socket.io/socket.io.js"></script> -->
		<script>
		////////////////////////////////////////////////
		////////////////////////////////////////////////
		////////////////////////////////////////////////

		var xSpeed = 0;
		var ySpeed = 0;

		var socket = new WebSocket('ws://localhost:8080');

		var r = rand(255);
		var g = rand(255);
		var b = rand(255);

		var color = '#'+RGB2HTML(r,g,b);
		var textColor = '#'+RGB2HTML(255-r,255-g,255-b);
		document.body.style.background = color;

		socket.onmessage = function(msg){
			console.log('got a message');
			var parsedMsg = JSON.parse(msg.data);
			if(parsedMsg.tag==='id'){
				var response = {
					'tag':'id',
					'id':'user',
					'color':color
				};

				socket.send(JSON.stringify(response));
			}

			else if(parsedMsg.tag==='update'){
				socket.send(JSON.stringify({
					'tag':'update',
					'xSpeed':xSpeed,
					'ySpeed':ySpeed
				}));
			}
		};

		////////////////////////////////////////////////
		////////////////////////////////////////////////
		////////////////////////////////////////////////

		window.ondeviceorientation = function(event) {
			ySpeed = event.beta/90
			xSpeed = event.gamma/90;
		};

		////////////////////////////////////////////////
		////////////////////////////////////////////////
		////////////////////////////////////////////////

		function RGB2HTML(red, green, blue){
		    var decColor = red + 256 * green + 65536 * blue;
		    return decColor.toString(16);
		}

		function rand(max){
			return Math.floor(Math.random()*max);
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		</script>
	</body>
</html>