<div class="videoContent">
	<h3>{{title}}</h3>
	<div id="video" style="width: 360px; height: 300px;" ></div>
</div>

<div id="commentList">
	<h5>Comments</h5>
</div>

<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>

<script>
	// ensure the web page (DOM) has loaded
	document.addEventListener("DOMContentLoaded", function () {

		// Create a popcorn instance by calling the Youtube player plugin
		var thisVid = Popcorn.youtube(
			'#video',
			'http://www.youtube.com/watch?v=CxvgCLgwdNk'
		);

		{{#comments}}

		thisVid.code({
			start: {{start}},
			end: {{end}},
			onStart: function(){
				document.getElementById('commentList').innerHTML += '<div id=' + '{{id}}' + '>' + 
							'<li>' + '{{name}}' + '</li>' + 
							'<p>' + '{{content}}' + '</p></div>';
			},
			onEnd: function(){
				document.getElementById('{{id}}').innerHTML = '';
			}
		});
		{{/comments}}

		// play the video right away
		thisVid.play();

	}, false);
</script>