<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Screen</title>
	</head>
	<body style="backgroundColor:#000000">
		<canvas id="landscape" class="landscape"></canvas>
		<script>
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		
		var user = {};
		var myIP = 'localhost';

		var socket = new WebSocket('ws://'+myIP+':8080');

		socket.onmessage = function(msg){
			var parsedMsg = JSON.parse(msg.data);

			if(parsedMsg.tag==='id'){
				var response = {
					'tag':'id',
					'id':'screen'
				};

				socket.send(JSON.stringify(response));
			}
			else if(parsedMsg.tag==='updateSpeeds'){
				updateSpeed(parsedMsg);
			}
			else if(parsedMsg.tag==='birth'){
				birth(parsedMsg);
			}
			else if(parsedMsg.tag==='death'){
				killUser(parsedMsg);
			}
		};

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		function killUser(msg){
			if(user[msg.userName]){
				delete user[msg.userName];
			}
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		function updateSpeed(msg){
			if(user[msg.userName]){
				user[msg.userName].xSpeed = msg.xSpeed;
				user[msg.userName].ySpeed = msg.ySpeed;
			}
			else{
				//console.log('THAT USER DON\T EXIST: '+msg.userName);
				// console.log(user);
			}
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		function frame(){

			updateAllUsers();

			var ctx = c.getContext('2d');
			// ctx.fillStyle = 'rgba(0,0,0,.01)';
			// ctx.fillRect(0,0,theWidth,theHeight);

			for(var i in user){
				ctx.fillStyle = user[i].color;
				var x = user[i].x*theWidth;
				var y = user[i].y*theHeight;
				ctx.fillRect(x,y,30,30);
			}

			requestAnimFrame(function() {
		        frame();
		    });
		};

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		var xSlide = 10;
		var ySlide = 15;

		var maxSpeed = 1;

		function updateAllUsers(){
			for(var i in user){

				//filtering
				user[i].x = user[i].x + (((user[i].x + user[i].xSpeed)-user[i].x)/xSlide);
				user[i].y = user[i].y + (((user[i].y + user[i].ySpeed)-user[i].y)/ySlide);

				if(user[i].y<0) user[i].y=0;
				else if(user[i].y>=1) user[i].y=1;

				if(user[i].x>1 || user[i].x<0){

					var tempX = 0;
					if(user[i].x<0) tempX=.99;

					socket.send(JSON.stringify({
						'tag':'death',
						'x': tempX,
						'y': user[i].y,
						'userName': i
					}));
					delete user[i];
				}
			}
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		function birth(data){
			var tempUser = {
				'xSpeed': data.xSpeed,
				'ySpeed': data.ySpeed,
				'x': data.x,
				'y': data.y,
				'color':data.color
			}
			if(!user[data.userName]){
				console.log('got a birth!!!!!!!!!!!!!!!');
				user[data.userName] = tempUser;
			}
			else{
				console.log('that user already lives here, dummy');
			}
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		window.requestAnimFrame = (function(callback) {
		    return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
		    function(callback) {
		      window.setTimeout(callback, 1000 / 60);
		    };
		})();

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		var c = document.getElementById('landscape');

		var theWidth = window.innerWidth-7;
		var theHeight = window.innerHeight-7;

		c.width = theWidth;
		c.height = theHeight;

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		window.onload = function(){
			var ctx = c.getContext('2d');
			ctx.fillStyle = '#000000';
			ctx.fillRect(0,0,theWidth,theHeight);
			frame();
		}

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		</script>
	</body>
</html>