<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Screen</title>
	</head>
	<body style="backgroundColor:#000000">
		<canvas id="landscape" class="landscape"></canvas>
		<script>
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		
		var balls = {};
		var maxSpeed = 20;

		var socket = new WebSocket('ws://localhost:8080');

		socket.onmessage = function(msg){
			var parsedMsg = JSON.parse(msg.data);
			if(parsedMsg.tag==='frame'){
				frame(parsedMsg);
			}
			else if(parsedMsg.tag==='id'){
				var response = {
					'tag':'id',
					'id':'screen'
				};

				socket.send(JSON.stringify(response));
			}
		};

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		function frame(data){

			var ctx = c.getContext('2d');
			ctx.fillStyle = '#000000';
			ctx.fillRect(0,0,theWidth,theHeight);

			for(var i in data.myUsers){
				ctx.fillStyle = data.myUsers[i].color;
				var x = data.myUsers[i].x*theWidth;
				var y = data.myUsers[i].y*theHeight;
				ctx.fillRect(x,y,30,30);
				
			}
			var response = {
				'tag':'frame'
			};

			socket.send(JSON.stringify(response));
		};

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////

		var c = document.getElementById('landscape');

		var theWidth = window.innerWidth-7;
		var theHeight = window.innerHeight-7;

		c.width = theWidth;
		c.height = theHeight;

		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		//////////////////////////////////////////////////
		</script>
	</body>
</html>