<form method="POST" action="/newComment/{{video._id}}">

	<label for="name">
		Name <input type="text" name="name" id="name"> 
	</label>
	
	<label for="comment">
		Comment <input type="text" name="content" id="content"> 
	</label>

	<label for="start">
		Start (seconds) <input type="text" name="start" id="start"> 
	</label>

	<label for="start">
		End (seconds) <input type="text" name="end" id="end"> 
	</label>
	
	<input type="submit" value="Add Comment">

</form>

<div class="videoContent">
	<h3>{{video.title}}</h3>
	<div id="video" style="width: 360px; height: 300px;" ></div>
</div>

<div id="contentList">
	<h5>Comments</h5>
</div>

<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>

<script>

	var insertReply = function(commentId){
		var replyForm = document.createElement("div");
		replyForm.id = 'replyForm'+commentId;
		replyForm.innerHTML = '<form method="POST" action="/newReply/' + commentId +'"><label for="replyName">Name<input type="text" name="replyName" id="replyName"></label><label for="replyContent">Comment <input type="text" name="replyContent" id="replyContent"></label><input type="submit" value="Add Reply"></form><button onClick="removeReplyForm(\'' + commentId + '\')">cancel</button>';
		document.getElementById(commentId).appendChild(replyForm);
	}

	var removeReplyForm = function(commentId){
		var parent = document.getElementById(commentId);
		var child = document.getElementById('replyForm' + commentId);
		parent.removeChild(child);
	}
	// ensure the web page (DOM) has loaded
	document.addEventListener("DOMContentLoaded", function () {

		var url = '{{video.url}}';
		var thisVid;

		if(url.indexOf('vimeo')>0){
			thisVid = Popcorn.vimeo(
				'#video',
				url
			);
		}
		else if(url.indexOf('youtube')>0){
			thisVid = Popcorn.youtube(
				'#video',
				url
			);
		}

		{{#contents}}

		thisVid.code({
			start: {{start}},
			end: {{end}},
			onStart: function(){
				var div{{_id}} = document.createElement("div");
				div{{_id}}.id = '{{_id}}';
				div{{_id}}.innerHTML = '<li>{{name}}</li><p>{{comment}}</p>'+
					'<button onClick="insertReply(\'{{_id}}\')">reply</button'+
					'</div>';



				document.getElementById('contentList').appendChild(div{{_id}});
			},
			onEnd: function(){
				var div{{_id}} = document.getElementById('{{_id}}');
				document.getElementById('contentList').removeChild(div{{_id}});
			}
		});
		
		{{/contents}}

		// play the video right away
		//thisVid.play();

	}, false);
</script>