<form method="POST" action="/newComment/{{video._id}}">

	<label for="name">
		Name <input type="text" name="name" id="name"> 
	</label>
	
	<label for="comment">
		Comment <input type="text" name="content" id="content"> 
	</label>

	<label for="start">
		Start (seconds) <input type="text" name="start" id="start"> 
	</label>

	<label for="start">
		End (seconds) <input type="text" name="end" id="end"> 
	</label>
	
	<input type="submit" value="Add Comment">

</form>

<div class="videoContent">
	<h3>{{video.title}}</h3>
	<div id="video" style="width: 360px; height: 300px;" ></div>
</div>

<div id="commentList">
	<h5>Comments</h5>
</div>

<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>

<script>
	// ensure the web page (DOM) has loaded
	document.addEventListener("DOMContentLoaded", function () {
		var url = '{{video.url}}';
		var thisVid;

		if(url.indexOf('vimeo')>0){
			thisVid = Popcorn.vimeo(
				'#video',
				url
			);
		}
		else if(url.indexOf('youtube')>0){
			thisVid = Popcorn.youtube(
				'#video',
				url
			);
		}

		{{#comments}}



		thisVid.code({
			start: {{start}},
			end: {{end}},
			onStart: function(){
				var div{{start}}{{end}} = document.createElement("div");
				div{{start}}{{end}}.id = '{{start}}{{end}}';
				div{{start}}{{end}}.innerHTML = '<li>{{name}}</li><p>{{comment}}</p></div>';
				document.getElementById('commentList').appendChild(div{{start}}{{end}});
			},
			onEnd: function(){
				var div{{start}}{{end}} = document.getElementById('{{start}}{{end}}');
				document.getElementById('commentList').removeChild(div{{start}}{{end}});
			}
		});
		{{/comments}}

		// play the video right away
		//thisVid.play();

	}, false);
</script>