

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.trackpad{
	border:solid;
}

.landscape{
	border:solid;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}






