

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.videoContent{
	margin-left:auto;
	margin-right:auto;
	width:70%;
}














